
__pycache__/
*.py[cod]
*$py.class
*.so

instance/
*.db
*.sqlite3

.env


pip-log.txt
pip-delete-this-directory.txt

venv/
ENV/
.venv/
.ENV/


build/
dist/
*.egg-info/
.eggs/


migrations/

static/
*.log

.pytest_cache/

.vscode/

.DS_Store

.idea/
